@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1 {
    font-size: 3rem;
    color: rgb(251, 248, 241);
    margin-bottom: 50px;
    animation-duration: 3s;
}

h1 span{
    font-family: 'Lobster', cursive;
    animation-duration: 3s;
    color: rgb(255, 170, 0);
}

p{
    animation-duration: 3s;
}


h4{
    letter-spacing: 10px;
    color:  rgb(255, 170, 0);
    animation-duration: 3s;
}


.izquierda{
    max-width: 500px;
    border-radius: 10px;
    padding: 2rem;
}

.derecha{   
    width: 100%;
    height: 100%; 
    background-image: url("../../../assets/img/Foto2.jpeg");
    background-size: cover;
    background-position-y: -15px ;
    opacity: 0.8;  
}


.row {
    display: flex;
    align-items: center;
    justify-content: center;

}

.columna {
    background-color: #555555;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23555555' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23525052' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%234f4b4f' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%234c464c' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23494149' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23463c46' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23433743' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%233f3340' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%233c2e3d' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2339293a' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23362538' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23332035' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23301b32' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232d172f' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2329122c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23260d29' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23230727' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 70vh;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 15px black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 0;

}


.btn {
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    animation-duration: 4s;
}

@media screen and (max-width: 800px) {
    .derecha{
        display: none;
    }
}

@media screen and (max-width: 1172px) {
    .derecha{
        background-position-y: 0px ;
        
    }
}